{% extends 'base.html' %}

{% block content %}

    <h3>Nama: </h3>
    <p>{{nama}}</p>
    <h3>Kelas: </h3>
    <p>{{kelas}}</p>

    
    <h1>Kwangya Store</h1>

    <h5>Product Name: </h5>
    <p>{{name}}</p> 
    <h5>Price: </h5>
    <p>{{price}}</p> 
    <h5>Description: </h5>
    <p>{{description}}</p>
    <h5>Stock: </h5>
    <p>{{amount}}</p>

    <table>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>
                <a href="{% url 'main:decrease' product.id %}">
                    <button>-</button>
                </a>
                {{product.amount}}
                <a href="{% url 'main:increase' product.id %}">
                    <button>+</button>
                </a>
                </td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:delete' product.id %}">
                        <button>delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <h5>Your last login: {{ last_login }}</h5>
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}